.GroupElement{
    margin-bottom: 5px;
} 
.GroupElement > .card-header, .GroupElement > .card-body{
    padding: 0;
} 
.GroupElement .button-right{
    float: right;
}

.GroupElement .group-date{ 
    display: block;
    float: right;
    margin: 7px;
    color: gray;
    font-size: x-small; 
    text-align: end; 
}