
.CoursesPage .button-right {
    float: right;  
} 
.CoursesPage .card-title {
    display: inline-block;
    margin: 4px;
}

/* Grid */
.CoursesPage {
    display: flex;
}
.CoursesPage > .flex-col {
    flex: 1; 
    margin: 15px;
} 
  
@media (max-width: 900px) {
    .CoursesPage {
        display: block;
    } 
}
